.work-path{
    padding: 80px 0 30px;
    @include for-size(sm){
        padding-bottom: 0
    }
    &__title{
        @extend %title-font;
        text-align: center;
        color: $title;
        margin-bottom: 40px;
        font-size: 36px;
        line-height: 51px;
        @include for-size(sm){
            font-size: 28px;
            line-height: 36px;
        }
    }
    &__line{
        border-bottom: 2px solid rgba($title, .7);
        @include for-size(sm){
            border: none;
        }
    }
    &__items-box{
        max-width: 900px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        @include for-size(sm){
            flex-wrap: wrap;
            justify-content: center;
        }
        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: $title;
            @include for-size(sm){
                display: none;
            }
        }
    }
    &__item{
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        height: 100%;
        @include for-size(sm){
            min-width: 100%;
        }
}
    &__item--production{
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, .7);
            @include for-size(sm){
                display: none;
            }
        }
    }
    &__item--production,
    &__item--consultation{
        padding-bottom: 38px;
    }
    &__box-measurements{
        max-width: 900px;
    }
    &__item--measurements{
        padding-top: 38px;
        margin: 0 auto;
        @include for-size(sm){
            padding-top: 0;
            padding-bottom: 38px;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, .7);
            @include for-size(sm){
                display: none;
            }
        }
    }

    &__item-title{
        @extend %title-font;
        margin-left: 13px;
        color: $title;
    }
    &__item-text{
        margin-top: 13px;
    }
}