.breadcrumbs{
    background: rgba(#dfdfdf, .5);
    padding: 13px 14px;
    &__list{
        display: flex;
        overflow-x: auto;
    }
    &__item{
        position: relative;
        padding-right: 8px;
    }
    &__item::after{
        position: absolute;
        content: '/';
        color: $default;
    }
    &__item:last-child::after{
        display: none;
    }
    &__link{
        font-size: 14px;
        color: $default;
    }
}