    <div class="container-fluid">
        <div class="collection">
            <a class="collection__item" href="#">
                <img class="collection__img" src="img/content/gallery1.png" alt="">
                <div class="collection__info">
                    <h6 class="collection__info-title">Truffaut literally trust</h6>
                    <p class="collection__info-text">Living room furntiture | Chair</p>
                </div>
            </a>
            <a class="collection__item" href="#">
                <img class="collection__img" src="img/content/gallery2.png" alt="">
                <div class="collection__info">
                    <h6 class="collection__info-title">Truffaut literally trust</h6>
                    <p class="collection__info-text">Living room furntiture | Chair</p>
                </div>
            </a>
            <a class="collection__item" href="#">
                <img class="collection__img" src="img/content/gallery3.png" alt="">
                <div class="collection__info">
                    <h6 class="collection__info-title">Truffaut literally trust</h6>
                    <p class="collection__info-text">Living room furntiture | Chair</p>
                </div>
            </a>
            <a class="collection__item" href="#">
                <img class="collection__img" src="img/content/gallery4.png" alt="">
                <div class="collection__info">
                    <h6 class="collection__info-title">Truffaut literally trust</h6>
                    <p class="collection__info-text">Living room furntiture | Chair</p>
                </div>
            </a>
            <a class="collection__item" href="#">
                <img class="collection__img" src="img/content/gallery5.png" alt="">
                <div class="collection__info">
                    <h6 class="collection__info-title">Truffaut literally trust</h6>
                    <p class="collection__info-text">Living room furntiture | Chair</p>
                </div>
            </a>
        </div>
    </div>
</section>