<div class="partners">
    <div class="container-fluid">
        <div class="partners__items">
            <img class="partners__item-img" src="img/partners/partner1.svg" alt="partner logo">
            <img class="partners__item-img" src="img/partners/partner2.svg" alt="partner logo">
            <img class="partners__item-img" src="img/partners/partner1.svg" alt="partner logo">
            <img class="partners__item-img" src="img/partners/partner2.svg" alt="partner logo">
            <img class="partners__item-img" src="img/partners/partner1.svg" alt="partner logo">
        </div>
</div>