<footer class="footer">
  <div class="footer__content">
    <div class="cantainer">
      <div class="footer__inner">
        <div class="footer__info">
          <h6 class="footer__title">
            Contact Us
          </h6>
          <p class="footer__info-text">
            Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy
          </p>
          <a class="footer__info-email"  href="mailito:plum.bus@yahoo.com">
            plum.bus@yahoo.com
          </a>
        </div>
        <ul class="footer__social"></ul>
        <nav class="footer__menu">
          <ul class="footer__menu-list"></ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="footer__copyright">674 Gonzales Drive.   Washington, PA 15301</div>

</footer>
