<div class="gallery">
    <div class="container-fluid">
        <div class="gallery__buttons">
            <div class="gallery__btn">Bedroom furniture</div>
            <div class="gallery__btn">Living room furniture</div>
            <div class="gallery__btn">Office furniture</div>
            <div class="gallery__btn">Dining room futniture</div>
            <div class="gallery__btn">Chair</div>
        </div>
        <div class="gallery__inner">

            <div class="gallery__items">
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery1.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery2.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery3.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery4.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery5.jpg" alt="gallery image">
                    </a>
                </div>
            </div>

            <div class="gallery__items">
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery1.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery2.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery3.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery4.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery5.jpg" alt="gallery image">
                    </a>
                </div>
            </div>

            <div class="gallery__items">
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery1.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery2.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery3.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery4.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery5.jpg" alt="gallery image">
                    </a>
                </div>
            </div>

            <div class="gallery__items">
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery1.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery2.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery3.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery4.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery5.jpg" alt="gallery image">
                    </a>
                </div>
            </div>

            <div class="gallery__items">
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery1.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery2.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery3.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery4.jpg" alt="gallery image">
                    </a>
                </div>
                <div class="gallery__item">
                    <a class="gallery__img" href="#">
                        <img src="img/gallery/gallery5.jpg" alt="gallery image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>