<section class="works-path">
    <div class="container">
        <h3 class="work-path__title">How it works</h3>
        <div class="work-path__items">
            <div class="work-path__items-box">
                <div class="work-path__item">
                    <img class="work-path__item-img" src="img/work1.svg" alt="icon" >
                    <h6 class="work-path__item-title">Designer Consultation</h6>
                    <p class="work-path__item-text">Kinfolk scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick coloring book.</p>
                </div>
                <div class="work-path__item">
                    <img class="work-path__item-img" src="img/work2.svg" alt="icon" >
                    <h6 class="work-path__item-title">Production</h6>
                    <p class="work-path__item-text">Everyday carry actually neutra authentic kogi shabby chic</p>
                </div>
            </div>
            <div class="work-path__item">
                <img class="work-path__item-img" src="img/work3.svg" alt="icon" >
                <h6 class="work-path__item-title">Measurements</h6>
                <p class="work-path__item-text">Intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun venmo viral cliche</p>
            </div>
        </div>
    </div>
</section>