<div class="container-fluid">
    <div class="swiper-contact">
        <div class="slider-wrapper swiper-wrapper">
            <div class="swiper-contact__item swiper-slide">         
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider1.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider2.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider3.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider4.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider5.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider6.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider7.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider8.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider9.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider10.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide"> 
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider4.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider5.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider6.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider7.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider8.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider9.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider10.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider1.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider2.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider3.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider10.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider9.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider8.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider7.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider6.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider5.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider4.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider3.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider2.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
            <div class="swiper-contact__item swiper-slide">
                <a class="swiper-contact__link" href="#">
                    <img class="swiper-contact__img" src="img/slider/slider1.png" alt="slider photo">
                    <p class="swiper-contact__title">Truffaut literally trust</p>
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
